<article class="article-card">
    <header>
        <h2>
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
        </h2>
        <p><time datetime="{{ .Date }}">{{ .Date | time.Format ":date_medium" }}</time></p>
    </header>

    {{ with .Summary }}<p>{{.}}</p>{{end}}

    {{- with .GetTerms "series" -}}
    <div>
        <b>Series:</b>
        {{ partial "posts/inline-list-links.html" . }}
    </div>
    {{- end -}}

    {{- with .GetTerms "tags" -}}
    <div>
        <b>Tags:</b>
        {{ partial "posts/inline-list-links.html" . }}
    </div>
    {{- end -}}

</article>