{{- $ := . -}}
<section class="calendar">
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ $.Pages.Len }}{{ if gt $.Pages.Len 1 }} POSTS{{else}} POST{{end}} AVAILABLE</p>
    </header>
    <div class="calendar-grid">
    {{ range 12 }}
    {{- $number := math.Add . 1 -}}
    {{- $postsOfMonth := where $.Pages "Date.Month" $number -}}
    {{- $calendarNumber := $.Store.Get "calendar-posts" -}}
    <label class="calendar-month">
        <input type="radio" value="{{$number}}" name="calendar-{{ $.Store.Get "calendar-number" }}" {{- if eq $postsOfMonth.Len 0 }} disabled{{end}}>
        <p>{{ printf "%03d" $number }}</p>
        {{ with $postsOfMonth }}<p>{{ printf "%02dP" $postsOfMonth.Len }}</p>{{ end -}}
    </label>
    {{ end }}
    </div>
    <div class="calendar-posts">
    {{ range 12 }}
    {{- $number := math.Add . 1 -}}
    {{- $postsOfMonth := where $.Pages "Date.Month" $number -}}
    {{- with $postsOfMonth -}}
    <div class="posts-of-month" data-month="{{$number}}">{{ range . }}
        {{partial "posts/article-card.html" .}}
    {{ end }}</div>
    {{- end -}}
    {{ end }}
    </div>
</section>