{{ $ := . }}
<section>
    <header>
        <h2>{{ .Title }}</h2>
    </header>
    <div class="calendar-grid">
    {{ range 12 }}
    {{- $number := math.Add . 1 -}}
    {{- $postsOfMonth := where $.RegularPages "Date.Month" $number -}}
    <label class="calendar-month">
        <input type="radio" value="{{$number}}" name="calendar" {{- if eq $postsOfMonth.Len 0 }} disabled{{end}}>
        <span>{{ printf "%02d" $number }}</span>
    </label>
    {{ end }}
    </div>
    <div class="calendar-posts">
    {{ range 12 }}
    {{- $number := math.Add . 1 -}}
    {{- $postsOfMonth := where $.RegularPages "Date.Month" $number -}}
    {{- with $postsOfMonth -}}
    <div class="posts-of-month" data-month="{{$number}}">{{ range . }}
        {{partial "posts/article-card.html" .}}
    {{ end }}</div>
    {{- end -}}
    {{ end }}
    </div>
</section>