{{define "main"}}
<div class="single-margin">
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    <section class="content">
        {{ .Content }}
    </section>

    <main class="book-pile">
        {{ range $page := .Pages.Reverse }}
        <article class="book">
            <a href="{{ $page.RelPermalink }}">
                <h2>{{ $page.Title }}</h2>
                <p>{{ $page.Summary }}</p>
                <p>Published on <time datetime="{{ .PublishDate }}">{{.PublishDate | time.Format "02 / Jan / 2006" }}</time></p>
            </a>
        </article>
        {{end}}
    </main>
</div>
{{end}}