{{define "main"}}
<div class="column-with-space" style="margin-top: 4rem;">
    <header>
        <h1>{{ .Title }}</h1>
        {{ partial "rssFeedButton.html" . }}
    </header>

    <main class="content">
        {{.Content}}
    </main>

    <div class="tube-holder">{{ range $page := .Pages.ByTitle }}
        <article class="glass-tube">
            <header>
                <h2>{{$page.Title}}</h2>
                <p>{{$page.Summary}}</p>
                <a href="{{$page.RelPermalink}}">Go to experiment</a>
            </header>
            {{ with $page.Params.Thumbnail }}
            <img src="./{{ . }}" {{- with $page.Params.ThumbnailDesc }} alt="{{.}}"{{end}}>
            {{end}}
        </article>
        {{end}}
    </div>
</div>
{{end}}