/* CSS used for the homepage */
.grid-home {
	display: grid;
	grid-template-areas: 
		'banner buttons'
		'content buttons'
		'content webrings'
		'link-me cbox'
		'latest-post cbox';
	row-gap: 4rem;
	grid-template-columns: 70% 30%;
	grid-auto-rows: minmax(10rem, auto);
}

.grid-home > * {
	margin-inline: 2rem;
	max-width: 100%;
}

.grid-home > :not([data-area="content"]) > h2 {
	font-size: xx-large;
	text-align: center;
}

body:has( > .grid-home ) {
	container-name: body;
	container-type: inline-size;
}

.split-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;

}

.split-content > * { width: clamp(0rem, 100%, 15rem); }

.split-content h1 {	font-size: clamp(3rem, 100%, 6rem); }

.split-content img {
	width: inherit;
	aspect-ratio: inherit;
	image-rendering: pixelated;
}

.split-content small {
	display: block;
	text-align: center;
}

/* Medium Screens with coupled grid */
@container body (max-width: calc(70rem - 8rem)) {
	.grid-home {
		grid-template-columns: inherit;
		grid-template-areas:
			'banner banner'
			'buttons webrings'
			'buttons content'
			'link-me content'
			'cbox content'
			'latest-post latest-post';
	}

	.split-content {
		grid-template-columns: 50% 50%;
		justify-content: center;
	}
}

/* Mobile 1 column grid */
@container body (max-width: calc(50rem - 8rem)) {
	.grid-home {
		grid-template-columns: auto;
		grid-template-areas:
			'banner'
			'buttons'
			'webrings'
			'link-me'
			'content'
			'latest-post'
			'cbox';
	}

	.split-content {
		grid-template-columns: 1fr;
		justify-content: center;
	}

	.grid-home > * {
		margin-inline: 0;
		max-width: 100cqw;
	}
}

.grid-home > [data-area="banner"] { grid-area: banner; }
.grid-home > [data-area="webrings"] { grid-area: webrings; }
.grid-home > [data-area="buttons"] { grid-area: buttons; }
.grid-home > [data-area="content"] { grid-area: content; }
.grid-home > [data-area="cbox"] { grid-area: cbox; }
.grid-home > [data-area="latest-post"] { grid-area: latest-post; }