/* CSS used for the homepage */
.grid-home {
	display: grid;
	grid-template-areas: 
		'banner buttons'
		'content webrings'
		'content cbox'
		'link-me cbox'
		'latest-post latest-post';
	gap: 4rem;
	grid-template-columns: auto 30%;
	grid-auto-rows: minmax(10rem, auto);
}

.grid-home > :not([data-area="content"]) > h2 {
	font-size: xx-large;
	text-align: center;
}

/* Medium Screens with coupled grid */
@media (max-width: 1200px) {
	.grid-home {
		grid-template-areas:
			'banner banner banner banner'
			'buttons buttons webrings webrings'
			'link-me content content content'
			'cbox content content content'
			'latest-post latest-post latest-post latest-post';
		grid-template-columns: 1fr;
	}
}

/* Mobile 1 column grid */
@media (max-width: 720px) {
	.grid-home {
		grid-template-areas:
			'banner'
			'buttons'
			'webrings'
			'link-me'
			'content'
			'latest-post'
			'cbox';
		grid-template-columns: auto;
	}
}

.grid-home > [data-area="banner"] { grid-area: banner; }
.grid-home > [data-area="webrings"] { grid-area: webrings; }
.grid-home > [data-area="buttons"] { grid-area: buttons; }
.grid-home > [data-area="content"] { grid-area: content; }
.grid-home > [data-area="cbox"] { grid-area: cbox; }
.grid-home > [data-area="latest-post"] { grid-area: latest-post; }

.split-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	align-items: center;
}

.split-content small {
	display: block;
	text-align: center;
}

@media (max-width: 720px) {
	.split-content {
		grid-template-columns: 1fr;
		justify-content: center;
	}
}