.grid-posts {
    display: grid;
    gap: 4rem;
    grid-template-columns: auto 40%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'posts header'
        'posts aside';

    align-items: start;
}

.grid-posts > [data-area="header"] { grid-area: header; }
.grid-posts > [data-area="posts"] { grid-area: posts; }
.grid-posts > [data-area="aside"] { grid-area: aside; }

@media (max-width: 720px) {
    .sticky {
        position: static;
    }
}

/* Calendar Grid Styles */
.calendar {
    margin-bottom: 2rem;
}

.calendar > header {
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.calendar-month {
    display: block;
    background-color: var(--gray-300);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    cursor: pointer;
    position: relative;
}

.calendar-month input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.calendar-month:has(input[type="radio"]:checked) {
    outline: auto;
    outline-color: var(--blue-500);
    outline-offset: 4px;
}

.calendar-month:has(input[type="radio"]:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
}

.calendar-posts {
    position: relative;
    margin-top: 2rem;
}

.calendar-posts > .posts-of-month {
    opacity: 0;
    display: none;
    animation: fade-out 100ms forwards;
}

.calendar-grid:has( input[value="1"]:checked ) + .calendar-posts > .posts-of-month[data-month="1"],
.calendar-grid:has( input[value="2"]:checked ) + .calendar-posts > .posts-of-month[data-month="2"],
.calendar-grid:has( input[value="3"]:checked ) + .calendar-posts > .posts-of-month[data-month="3"],
.calendar-grid:has( input[value="4"]:checked ) + .calendar-posts > .posts-of-month[data-month="4"],
.calendar-grid:has( input[value="5"]:checked ) + .calendar-posts > .posts-of-month[data-month="5"],
.calendar-grid:has( input[value="6"]:checked ) + .calendar-posts > .posts-of-month[data-month="6"],
.calendar-grid:has( input[value="7"]:checked ) + .calendar-posts > .posts-of-month[data-month="7"],
.calendar-grid:has( input[value="8"]:checked ) + .calendar-posts > .posts-of-month[data-month="8"],
.calendar-grid:has( input[value="9"]:checked ) + .calendar-posts > .posts-of-month[data-month="9"],
.calendar-grid:has( input[value="10"]:checked ) + .calendar-posts > .posts-of-month[data-month="10"],
.calendar-grid:has( input[value="11"]:checked ) + .calendar-posts > .posts-of-month[data-month="11"],
.calendar-grid:has( input[value="12"]:checked ) + .calendar-posts > .posts-of-month[data-month="12"] {
    display: block;
    animation: fade-in 100ms forwards;
}

@keyframes fade-in {
    from {
        height: 0;
        opacity: 0;
        display: block;
    }
    to {
        height: auto;
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    from {
        height: auto;
        opacity: 1;
        display: block;
    }

    to {
        height: 0;
        opacity: 0;
        display: none;
    }
}

/* Medium Screens */
@media (max-width: 1200px) {
	.grid-posts {
        grid-template-columns: auto 35%;
        grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header'
            'posts aside';
	}
}

/* Small Screens */
@media (max-width: 720px) {
	.grid-posts {
        grid-template-columns: auto;
        grid-template-rows: auto;
		grid-template-areas:
			'header'
            'aside'
            'posts';
	}

    .calendar-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}