.grid-posts {
    display: grid;
    gap: 4rem;
    grid-template-columns: auto 40%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'posts header'
        'posts aside';

    align-items: start;
}

/* Medium Screens */
@media (max-width: 1200px) {
	.grid-posts {
        grid-template-columns: auto 35%;
        grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header'
            'posts aside';
	}
}

/* Small Screens */
@media (max-width: 720px) {
	.grid-posts {
        grid-template-columns: auto;
        grid-template-rows: auto;
		grid-template-areas:
			'header'
            'aside'
            'posts';
	}
}

.grid-posts > [data-area="header"] { grid-area: header; }
.grid-posts > [data-area="posts"] { grid-area: posts; }
.grid-posts > [data-area="aside"] { grid-area: aside; }

@media (max-width: 720px) {
    .sticky {
        position: static;
    }
}

/* Calendar Grid Styles */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.calendar-month {
    display: block;
    background-color: var(--gray-300);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}
