{{ define "main" }}
<main class="main-frame">
    <header class="split-content">
        <div>
            <h1>{{ .Params.LandingTitle }}</h1>
            <small>{{ .Params.LandingSubtitle }}</small>
        </div>
        <div class="image-holder">
            {{- range $i, $rel := .Params.Images }}
            <img src="{{$rel}}" class="
            {{- if eq $i 0 -}}
                visible {{- else -}} invisible
            {{- end -}}" alt="KFCMan Wave">
            {{- end }}
        </div>
    </header>

    {{ .Content }}
</main>

<aside class="main-frame">
    <h1>Comment Box!</h1>
    {{ template "_internal/disqus.html" . }}
</aside>
{{end}}