{{ define "main" }}
<div class="grid-home single-margin">
    <header data-area="top" class="frame">
        <header class="split-content">
            <div>
                <h1>{{ .Params.LandingTitle }}</h1>
                <small>{{ .Params.LandingSubtitle }}</small>
            </div>
            <div class="image-holder">
                <img src="/images/kfcman wave.png" alt="">
            </div>
        </header>
    </header>

    <main data-area="content" class="frame content">
        {{ .Content }}
    </main>

    <aside data-area="aside-top" class="frame column-with-space">
        <h2>Cool Stuff</h2>

        <section class="pseudo-iframe column-with-space">
            {{ partial "home/webrings.html" . }}
        </section>

        <section class="column-with-space">
            {{ partial "home/cool-buttons.html" . }}
        </section>

        <section class="inline-list">
            {{ partial "home/fanlists.html" . }}
        </section>
    </aside>

    <aside data-area="aside-mid" class="frame column-with-space">
        <h2>Link me!</h2>

        <a href="https://kunfucutsman.neocities.org/" target="_blank" class="image-holder">
            <img src="/images/88x31 button.png" alt="KFCMan's Website 88x31 Button">
        </a>
    </aside>

    <aside data-area="aside-bottom" class="frame">
        <h2>Comment Box!</h2>
        {{ partial "cbox.html" . }}
    </aside>

    <section data-area="bottom" class="frame">
        <h2>Latest Blog Post!</h2>
        {{ partial "home/latest-post.html" . }}
    </section>
</div>
{{end}}