{{ define "main" }}
<div class="grid-three-quarters single-margin">
    <main class="frame main-frame grid-three-quarters-main">
        <header class="split-content">
            <div>
                <h1>{{ .Params.LandingTitle }}</h1>
                <small>{{ .Params.LandingSubtitle }}</small>
            </div>
            <div class="image-holder">
                {{- range $i, $rel := .Params.Images }}
                <img src="{{$rel}}" class="
                {{- if eq $i 0 -}}
                    visible {{- else -}} invisible
                {{- end -}}" alt="KFCMan Wave">
                {{- end }}
            </div>
        </header>

        <article class="content">
            {{ .Content }}
        </article>
    </main>

    <aside class="frame grid-three-quarters-aside-top">
        <h2>Other Cool Stuff</h2>
        <section class="pseudo-iframe column-with-space" style="height: 20rem;">
        {{ partial "home/cool-stuff.html" . }}
        </section>
        <section style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">{{ partial "home/cool-buttons.html" . }}</section>
    </aside>

    <aside class="frame grid-three-quarters-aside-bottom">
        <h2>Comment Box!</h2>
        {{ partial "cbox.html" . }}
    </aside>

    <section class="frame grid-three-quarters-bottom">
        <h2>Latest Blog Post!</h2>
        {{ partial "home/latest-post.html" . }}
    </section>
</div>
{{end}}