{{ define "main" }}
<div class="frame main-frame single-margin">
    <h1>
        {{- if eq .Kind "term" -}}Tag: {{ end -}}
        {{- .Title -}}
    </h1>
    {{ .Content }}

    <div class="article-list">
        {{- range $p := .Pages.ByDate.Reverse }}
        <article>
            <header>
                <h2>
                    <a href="{{ .RelPermalink }}">{{.Title}}</a>
                    {{ if .IsPage -}}
                    <div>
                        <small><time datetime="{{ .Date }}">{{ .Date | time.Format ":date_medium" }}</time></small>
                    </div>
                    {{- end -}}
                </h2>
            </header>

            {{ with .Summary }}<p>{{.}}</p>{{end}}

            {{- with .GetTerms "tags" -}}
            <b>Tags:</b>
            <ul class="inline-list">
                {{- range . }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                {{ end -}}
            </ul>
            {{- end -}}

        </article>
        {{ else }}
            <small>You get NOTHING! You loose! Good day sir.</small>
        {{end}}
    </div>
</div>
{{ end }}