{{ define "main" }}
    <main class="frame main-frame single-margin">
        <header>
            <h1>{{ .Title }}</h1>

            {{ if ne .Params.ExcludeArticleData true }}{{ template "article-data" . }}{{end}}

            {{ if .Params.IncludeTOC }}{{.TableOfContents}}{{ end }}
        </header>
        <article class="content">
            {{- .Content -}}
        </article>
    </main>

    {{- if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
            startOnLoad: true,
            theme: "dark",
        });
    </script>
    {{end}}
{{ end }}

{{define "article-data" }}
<div class="article-data">
    {{ $page := . }}
    <div>
        {{ with $page.Date }}
        <p><b>Date:</b> <time datetime="{{ . }}">{{ . | time.Format ":date_medium" }}</time></p>
        {{- end -}}

        {{ with $page.GetTerms "tags" -}}
        <p><b>Tags:</b> {{ partial "posts/inline-list-links" . }}</p>
        {{- end -}}
    </div>

    {{ with $page.GetTerms "series" }}
    <div>
        <p><b>Series:</b></p>

        {{- range . }}
        <div class="series-data">
            {{ $entries := .Pages.ByDate.Reverse }}
            <a href="{{ .RelPermalink }}" class="series-name">{{ .LinkTitle }}</a>
            {{ with $entries.Prev $page }}<a href="{{.RelPermalink}}" class="prev">Prev</a>{{end}}
            {{ with $entries.Next $page }}<a href="{{.RelPermalink}}" class="next">Next</a>{{end}}
        </div>
        {{end}}
    </div>
    {{- end -}}

    
</div>
{{end}}