{{ define "main" }}
    <main class="frame main-frame single-margin">
        <header>
            <h1>{{ .Title }}</h1>
            {{ with .Date }}<time datetime="{{ . }}">{{ . | time.Format ":date_medium" }}</time>{{- end -}}

            {{ with .GetTerms "series" -}}
            <div>
                <b>Series: </b>
                <ul class="inline-list">
                    {{- range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                    {{end -}}
                </ul>
            </div>
            {{- end -}}

            {{ with .GetTerms "tags" -}}
            <div>
                <b>Tags:</b>
                <ul class="inline-list">
                    {{- range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                    {{ end -}}
                </ul>
            </div>
            {{- end -}}

            {{ if .Params.IncludeTOC }}{{.TableOfContents}}{{ end }}
        </header>
        <article class="content">
            {{- .Content -}}
        </article>
    </main>

    {{- if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
            startOnLoad: true,
            theme: "dark",
        });
    </script>
    {{end}}
{{ end }}