{{ define "main" }}
    <main class="frame main-frame single-margin">
        <header>
            <h1>{{ .Title }}</h1>
            {{ with .Date }}<time datetime="{{ . }}">{{ . | time.Format ":date_medium" }}</time>{{- end -}}

            {{ with .Params.Series -}}
            <p><b>Series: </b> {{.}}</p>
            {{- end -}}

            {{ with .GetTerms "tags" -}}
            <div>
                <b>Tags:</b>
                <ul class="inline-list">
                    {{- range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                    {{ end -}}
                </ul>
            </div>
            {{- end -}}

            {{ if .Params.IncludeTOC }}{{.TableOfContents}}{{ end }}
        </header>
        <article>
            {{- .Content -}}
        </article>
    </main>
{{ end }}