{{ define "main" }}
<div class="stars"></div>
<div class="single-margin main">
    <section>
        <ul class="social-media-list">
            {{ range $key, $data := (.GetPage "social-media" ).Params.Socials }}
            <li>
                <a href="{{ .Link }}" target="_blank">
                    <div class="icon ic-{{ .Icon }}"></div>
                </a>
            </li>
            {{end}}
        </ul>
    </section>
    {{ with .Resources.Get .Params.Images.Satellite }}
    <img class="satellite" src="{{ .RelPermalink }}" width="{{ math.Product .Width 2 }}"
        alt="{{ math.Product .Height 2 }}" alt="Satellite Dish">
    {{ end }}
</div>
{{ end }}