{{ define "main" }}
<div class="stars"></div>
<div class="single-margin main">
    <section class="socials-section">
        {{- $socials := .GetPage "social-media" -}}
        <header class="content">
            <h2 style="text-align: center;">{{ $socials.Title }}</h2>
            {{ $socials.Content }}
        </header>
        <ul class="icon-list">
            {{ range $key, $data := $socials.Params.Socials }}
            <li>
                <a href="{{ .Link }}" target="_blank">
                    <div class="icon ic-{{ .Icon }}"></div>
                </a>
            </li>
            {{end}}
        </ul>
        <canvas id="canvas" width="512" height="512"></canvas>
    </section>
    {{ with .Resources.Get .Params.Images.Satellite }}
    <img class="satellite" src="{{ .RelPermalink }}" width="{{ math.Product .Width 2 }}"
        height="{{ math.Product .Height 2 }}" alt="Satellite Dish">
    {{ end }}
</div>
{{ end }}