<!-- layouts/shortcodes/tabs.html -->
<!--
A shortcode to create tabbed content sections.
ARGUMENTS:
-->
{{- $section := .Page.CurrentSection -}}
{{ .Page.Kind }}
{{- $tabName := .Get "tab" -}}
{{- $section.Pages -}}
{{- $tabsPages := where $section.RegularPagesRecursive "Params.tab" $tabName -}}
{{- with $tabsPages -}}
<section class="tab-wrapper">
    <ul class="tab-titles inline-list">
        {{- range $index, $tab := $tabsPages }}
        <li>
            <label>
                <input type="radio" name="tabs-{{ $tabName }}" value="{{ $index }}" {{ if eq $index 0 }}checked{{end}}>
                <span>{{ $tab.Title }}</span>
            </label>
        </li>
        {{- end }}
    </ul>
    {{- range $index, $tab := $tabsPages }}
    <article class="tab content" tabindex="0" data-tab="{{ $index }}">
        {{ $tab.Content | safeHTML }}
    </article>
    {{ end }}
</section>
{{ else }}
<p>Error: Couldn't find pages labeled as <b>"{{ $tabName }}".</b></p>
{{ end }}