<article class="article-card">
    <header>
        <h2>
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
        </h2>
        <p><time datetime="{{ .Date }}">{{ .Date | time.Format ":date_medium" }}</time></p>
    </header>

    {{ with .Summary }}<p>{{.}}</p>{{end}}

    {{- with .GetTerms "series" -}}
    <div>
        <b>Series:</b>
        <ul class="inline-list">
            {{- range .}}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end -}}
        </ul>
    </div>
    {{- end -}}

    {{- with .GetTerms "tags" -}}
    <div>
        <b>Tags:</b>
        <ul class="inline-list">
            {{- range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end -}}
        </ul>
    </div>
    {{- end -}}

</article>