<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>

{{- $styles := slice "common.css" -}}
{{- $styles = collections.Append .Page.Params.Stylesheets $styles -}}
{{- if eq .Page.Kind "term" -}}
    {{- $styles = collections.Append "content.css" "taxonomy.css" $styles -}}
{{- end -}}
{{- range $stylesheet := $styles }}
<link rel="stylesheet" href="/assets/styles/{{ $stylesheet }}">
{{- end }}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

{{ with time.Now | time.Format "2006-01-02T03:04:05-07:00" -}}
{{ $stringy := printf "%+v" . }}
{{ $url := $stringy | resources.FromString "/assets/lastmod.txt" }}
    <script>
        var LAST_MOD_URL = '{{$url.Permalink}}'
    </script>
{{- end }}

{{ range $script := .Page.Params.Scripts }}
{{ with resources.Get (printf "/assets/js/%s" $script) -}}
<script src="{{.RelPermalink}}" defer></script>
{{- end }}
{{- end }}

{{- range $script := .Page.Params.BigScripts }}
{{ with resources.Get $script | js.Build -}}
<script src="{{.RelPermalink}}" defer></script>
{{- end }}
{{- end }}

{{- with resources.Get "/assets/js/events.js" -}}
<script src="{{.RelPermalink}}" defer></script>
{{- end }}