<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>
{{ $style := "/styles.css" }}
<link rel="stylesheet" href="{{ $style }}">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

{{ with resources.Get "js/events.js" -}}
    {{- $time := time.Now | time.AsTime }}
    {{- $human := printf "%s %s, %s"
        ($time | time.Format "Jan")
        ( humanize $time.Day )
        ($time | time.Format "2006")
    -}}

    {{- $string := printf
        "var LAST_UPDATED_DATE = '%s'; var LAST_UPDATED_HUMAN = '%s';"
        ($time | time.Format "2006-01-02") $human
    -}}

    {{- $vars := $string | resources.FromString "js/vars.js" -}}

<script src="{{$vars.Permalink}}?t={{$time.Unix}}" async></script>
<script src="{{.RelPermalink}}" defer></script>
{{- end }}
