<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/posts">Blog Posts</a></li>
        <li>
            <details class="details-popup">
                <summary>Others</summary>
                <ul>
                    <li><a href="https://neocities.org/site/kunfucutsman">Neocities Profile</a></li>
                    <li><a href="/sitemap.xml">sitemap.xml</a></li>
                    <li><a href="/changelog">Change Log</a></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>