{{ define "main" }}
<div class="grid-home single-margin">
    <header data-area="banner" class="frame">
        <header class="split-content">
            <div>
                <h1>{{ .Params.LandingTitle }}</h1>
                <small>{{ .Params.LandingSubtitle }}</small>
            </div>
            <div>
                <img src="/assets/images/kfcman wave.png" alt="">
            </div>
        </header>
    </header>

    <main data-area="content" class="frame content">
        {{ .Content }}
    </main>

    <section data-area="webrings" class="frame column-with-space">
        <h2>Webrings!</h2>
        {{ partial "home/webrings.html" . }}
    </section>

    <aside data-area="buttons" class="frame column-with-space">
        <h2>Quote of the Day!</h2>
        <div class="bible-verse">
            <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
            <script
                src="https://www.biblegateway.com/votd/get/?format=json&version=NIV&callback=BG.votdWriteCallback"></script>
            <noscript>
                <iframe framespacing="0" frameborder="no"
                    src="https://www.biblegateway.com/votd/get/?format=html&version=NIV">View Verse of the Day</iframe>
            </noscript>
        </div>
        <div class="bible-verse">
            <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
            <script
                src="https://www.biblegateway.com/votd/get/?format=json&version=RVR1960&callback=BG.votdWriteCallback"></script>
            <noscript>
                <iframe framespacing="0" frameborder="no"
                    src="https://www.biblegateway.com/votd/get/?format=html&version=RVR1960">View Verse of the
                    Day</iframe>
            </noscript>
        </div>

        <h2>Fanlists!</h2>
        <div class="inline-list" style="justify-content: space-evenly; gap: 1rem;">
            {{ partial "home/fanlists.html" . }}
        </div>
    </aside>

    <section data-area="latest-post" class="frame">
        <h2>Latest Blog Post!</h2>
        {{- $p := index (partial "posts/latest.html" .) 0 -}}
        {{ partial "posts/article-card.html" $p }}
    </section>

    <aside data-area="link-me" class="frame column-with-space">
        <h2>Link me!</h2>

        <a href="https://kunfucutsman.neocities.org/" target="_blank" class="image-holder">
            <img src="/assets/images/88x31 button.png" alt="KFCMan's Website 88x31 Button">
        </a>
    </aside>

    <aside data-area="cbox" class="frame">
        <h2>CBox!</h2>
        {{ partial "cbox.html" . }}
    </aside>
</div>
{{end}}