@import url('https://fonts.googleapis.com/css?family=JetBrains%20Mono:700|Nunito%20Sans:400');

/* CSS Reset */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::before, *::after {
	box-sizing: inherit;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

:root {
	--orange-100: #fde2d2;
	--orange-200: #fbc5a5;
	--orange-300: #faa778;
	--orange-400: #f88a4b;
	--orange-500: #f66d1e;
	--orange-600: #dd621b;
	--orange-700: #944112;
	--orange-800: #622c0c;
	--orange-900: #311606;

	--blue-100: #e2f8ff;
	--blue-200: #a9e9ff;
	--blue-300: #70dbff;
	--blue-400: #65c5e6;
	--blue-500: #5aafcc;
	--blue-600: #438399;
	--blue-700: #22424c;
	--blue-800: #162c33;
	--blue-900: #0b1619;

	--gray-100: #0f0f0f;
	--gray-200: #161717;
	--gray-300: #272727;
	--gray-400: #2d2f2e;
	--gray-500: #5a5e5c;
	--gray-600: #868d89;
	--gray-700: #b3bcb7;
	--gray-800: #e0ebe5;
	--gray-900: #ffffff;

	--text-font: 'Nunito Sans', sans-serif;
	--heading-font: 'Jetbrains Mono', monospace;

	--text: var(--gray-900);
	--background: var(--gray-100);
	--primary: var(--orange-600);
	--secondary: var(--gray-300);
	--accent: var(--blue-600);

	--primary-light: var(--orange-400);
	--primary-dark: var(--orange-800);

	scroll-behavior: smooth;
}


body {
  font-family: var(--text-font);
  font-weight: 400;
  background-color: var(--background);

  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: var(--heading-font);
  color: var(--primary-light);
  font-weight: 700;
}

html {font-size: 1rem;}

h1 {
	font-size: 4rem;
	text-align: center;
	text-wrap: pretty;
}

h2 {font-size: 3rem;}

h3 {font-size: 2rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {
	font-size: 0.8rem;
	color: var(--primary);
}

@media (max-width: 720px) {
	h1 {font-size: 3rem; }
	h2 {font-size: 2.369rem; }
	h3 {font-size: 1.777rem; }
	h4 {font-size: 1.333rem; }
	h5 {font-size: 1.111rem; }
	small {font-size: 0.9rem;}
}

a {
	text-decoration: none;
	font-weight: 600;
	color: var(--blue-200);
	transition: 200ms;
}

a:visited { color: var(--blue-400); }

a:is( :hover, :focus ) { color: var(--blue-600); }

blockquote.cite {
	background-color: var(--orange-900);
	border-left: 0.5rem solid var(--primary-light);
	padding-block: 1rem;
	padding-inline: 1rem;
	margin-inline: 1rem;
	border-radius: 0.5rem;
}

blockquote.cite > cite:last-child {
	display: block;
	margin-top: 2rem;
	font-size: small;
	width: fit-content;
	border-radius: 0.2rem;
	border-bottom: 0.2rem solid var(--primary-light);
}

::-webkit-scrollbar {
	scrollbar-width: thin;
	background-color: var(--blue-900);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vw;
	background-color: var(--orange-500);
}

/* Nav partial */
#nav {
	--bg: var(--gray-300);
	position: relative;

    background-color: var(--bg);
	padding-block: 0.5rem;

	font-family: var(--heading-font);
}

#nav::after {
	--height: 2rem;

	content: '';
	position: absolute;
	z-index: 1;

	background: linear-gradient(to bottom, var(--bg), rgba(0,0,0,0));
	height: var(--height);
	
	bottom: calc( -1 * var(--height) );
	left: 0;
	right: 0;
}

#nav ul {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}

#nav li {
	list-style: none;
	margin-block: 0.2rem;
	margin-inline: 1rem;
}

#nav a {
	color: var(--blue-200);
	transition: 200ms;
}

#nav a:is( :hover, :focus ) {
	color: var(--blue-400);
}

#gotonav {
	position: fixed;
	right: 1rem;
	bottom: 1rem;

	background-color: var(--primary-light);
	border-radius: 50%;
	width: 4rem;
	aspect-ratio: 1;
}

#gotonav svg {
	position: absolute;
	fill: var(--background);
	top: 5%;
	left: 5%;

	width: 90%;
	height: 90%;

	transition: 100ms;
}

#gotonav:is(:hover, :focus, :focus-within) svg {
	fill: var(--blue-300);
}

#footer {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	padding-block: 0.5rem;
	background-color: var(--gray-300);
}

/* Hugo TableOfContents shortcode / partial / method */
#TableOfContents {
	background-color: var(--blue-900);
	padding-block: 1rem;
	padding-inline: 0.5rem;
	border-radius: 0.5rem;
	margin-block: 2rem;
}

#TableOfContents:is( :focus-within, :hover ) {
	--shadow-offset: 5px;
}

#TableOfContents ul {
	--highlight-border: var(--orange-600);
	border-left: 0.2rem solid var(--highlight-border);
	padding-inline: 0.5rem;
	border-radius: 0.2rem;
	margin-left: 1rem;

	transition: 100ms;
}

#TableOfContents ul:is( :focus-within, :hover ) {
	--highlight-border: var(--orange-400);
}

#TableOfContents li {
	margin-block: 0.5rem;
	list-style: none;
}

/* Hugo's code highlight */
.highlight {
	position: relative;
}

.highlight > pre {
	border-radius: 0.5rem;
	padding: 1rem;
	overflow: auto;
}

.highlight > button {
	position: absolute;	
	right: 1rem;
	top: 1rem;
	cursor: copy;
	background-color: transparent;
	border: 0;
}

.highlight > button svg {
	fill: var(--gray-600);
	transition: 100ms;
}

.highlight > button:is( :hover, :focus ) svg {
	fill: var(--blue-300);
}

/* Image Holder */
.image-holder {
	--holder-width: 15rem;
	display: grid;
	width: var(--holder-width, fit-content);
	image-rendering: pixelated;
}

.image-holder img {
	grid-area: 1 / 1 / 2 / 2;
	width: inherit;
	aspect-ratio: inherit;
}

.details-popup {
	position: relative;
	transition: 500ms;
}

.details-popup > *:last-child {
	display: flex;
	position: absolute;
	z-index: 2;
	flex-direction: column;
	width: fit-content;
	text-align: center;
	background-color: var(--bg);

	box-shadow: 0 1rem 1rem 0 var(--gray-100);
}

#null-ring {
	display: flex;
	flex-wrap: wrap;
}

.column-with-space {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/* MAIN CSS */

.frame {
	--border-width: 16px;
	padding-block: 1rem;
	padding-inline: 2rem;

	background-color: var(--gray-400);
	border-image-source: url('images/pattern.png');
	border-image-slice: calc( 1/3 * 100% );
	border-image-outset: var(--border-width);
	border-image-width: var(--border-width);
	border-image-repeat: round;
}

.single-margin {
	margin-block: 4rem;
	margin-inline: auto;
	width: min(60rem, 80%);
}

.article-data {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}

.article-data > * {
	border-inline: 0.2rem solid var(--gray-800);
	border-radius: 0.2rem;
	padding-inline: 0.5em;
	padding-block: 0.5rem;
	background-color: var(--gray-300);
}

.series-data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'series-name series-name'
		'prev next';
	justify-items: center;
	text-align: center;

	border-block: 0.2rem solid var(--gray-800);
	border-radius: 0.2rem;
	padding-block: 0.5rem;
}

.series-data a.series-name { grid-area: series-name; }
.series-data a.prev { grid-area: prev; }
.series-data a.next { grid-area: next; }

.series-data > a:is( :focus, :hover ) {
	color: var(--gray-800);
}

.series-data a {
	border-inline: 0.1rem solid var(--gray-600);
	padding-inline: 0.5rem;
}

.series-data a:not(.series-name):is( :focus, :hover ) {
	padding-inline: 20%;
	border-inline: 0.2rem solid var(--gray-900);
}

.content > * {
	margin-block: 1rem;
}

.content > :is(h1, h2, h3, h4, h5, h6) {
	margin-block: 1rem;
	margin-bottom: 2rem;
}

.content :is(ul, ol) {
	--tab-space: 1.5rem;
	position: relative;
	width: calc(100% - var(--tab-space));
	left: var(--tab-space);
}

.content :is(ul, ol) li {
	margin-block: 0.5rem;
}

.content > img {
	margin: auto;
}

.content img + small {
	display: block;
	text-align: center;
}

.content summary {
	text-align: center;
	color: var(--blue-400);
	font-size: large;
}

.content details {
	border-radius: 0.5rem;
	margin-block: 1rem;
	padding-block: 0.5rem;
	background-color: var(--secondary);
}

.content blockquote {
	background-color: var(--blue-900);
	border-left: 0.5rem solid var(--accent);
	padding-block: 1rem;
	padding-inline: 1rem;
	margin-block: 1rem;
	margin-inline: 1rem;
	border-radius: 0.5rem;
}

.content blockquote p {
	margin-block: 0.1rem;
}
.content > table thead {
	background-color: var(--blue-700);
}

.content > table td {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}

.content > table th {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	text-align: center !important;
}

.content > table tbody > :nth-child(even) {
	background-color: var(--blue-800);
}
.content > table tbody  tr:nth-child(odd) {
	background-color: var(--blue-900);
}

.split-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	align-items: center;
}

.split-content small {
	display: block;
	text-align: center;
}

@media (max-width: 720px) {
	.split-content {
		grid-template-columns: 1fr;
		justify-content: center;
	}
}

.article-list {
	background-color: var(--blue-800);
	border-radius: 0.5rem;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
	margin-block: 1rem;
}

article.article-card {
	background-color: var(--blue-700);
	padding: 1rem;
	border-radius: 0.5rem;
}

article.article-card:not( :last-child ) {
	margin-block-end: 1rem;
}

article.article-card h2 {
	font-size: xx-large;
}

article.article-card > ul {
	display: inline-flex;
}

article.article-card li {
	margin-inline: 0.5rem;
	list-style: none;
}

.inline-list {
	display: inline-flex;
	flex-wrap: wrap;
}

.inline-list li {
	margin-inline: 0.5rem;
	list-style: none;
}

.taxonomy-list {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-around;

	background-color: var(--blue-800);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-block: 1rem;
}

.taxonomy {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-color: var(--blue-700);
	border-radius: 0.5rem;
	padding: 0.3rem;
	min-width: 5rem;

}

.grid-home {
	display: grid;
	grid-template-areas: 
		'top aside-top'
		'content aside-mid'
		'content aside-bottom'
		'bottom bottom';
	gap: 4rem;
	grid-template-columns: auto 30%;
	grid-auto-rows: minmax(10rem, auto);
}

.grid-home > :not([data-area="content"]) > h2 {
	font-size: xx-large;
	text-align: center;
}

/* Medium Screens with coupled grid */
@media (max-width: 1200px) {
	.grid-home {
		grid-template-areas:
			'top top top'
			'content content aside-top'
			'content content aside-mid'
			'aside-bottom bottom bottom';
		grid-template-columns: 2fr 1fr 30%;
	}

	.grid-home > [data-area="aside-mid"] {
		height: fit-content;
	}
}

/* Mobile 1 column grid */
@media (max-width: 720px) {
	.grid-home {
		grid-template-areas:
			'top top'
			'content content'
			'aside-top aside-top'
			'aside-mid aside-mid'
			'aside-bottom aside-bottom'
			'bottom bottom';
		grid-template-columns: 1fr 1fr;
		align-items: baseline;
	}

	.grid-home > [data-area="aside-mid"] {
		height: 100%;
	}
}

.grid-home > [data-area="top"] { grid-area: top; }
.grid-home > [data-area="content"] { grid-area: content; }
.grid-home > [data-area="aside-top"] { grid-area: aside-top; }
.grid-home > [data-area="aside-mid"] { grid-area: aside-mid; }
.grid-home > [data-area="aside-bottom"] { grid-area: aside-bottom; }
.grid-home > [data-area="bottom"] { grid-area: bottom; }

.pseudo-iframe {
	overflow: auto;
	border: 0.2rem solid var(--orange-900);
	border-radius: 0.5rem;
	width: 100%;
}

/* TABS COMPOMENT */

.tab-wrapper {
	border-radius: 0.5rem;
	background-color: var(--gray-300);
	padding: 0.5rem;
}

.tab-wrapper > .tab-titles li {
	display: inline-block;
	
	background-color: var(--gray-300);
	
	margin-block: 0;
	margin-inline: 0;
	padding-block: 0.5rem;
	padding-inline: 1rem;
	
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	
	cursor: pointer;
	transition: 200ms;
}

.tab-wrapper > .tab-titles label { cursor: pointer; }
.tab-wrapper > .tab-titles li:has( input:checked ) { background-color: var(--gray-200); }
.tab-wrapper > .tab-titles li:has( input:focus-visible ) { background-color: var(--gray-400); outline: auto; }
.tab-wrapper > .tab-titles li:has( :hover ) { background-color: var(--gray-500); }
.tab-wrapper > .tab-titles li:hover:has( input:checked ) { background-color: var(--gray-400); }
.tab-wrapper > .tab-titles input { height: 0; width: 0; }

.tab-wrapper > .tab { display: none; }

.tab-wrapper > :is(
	.tab-titles:has( input[value="0"]:checked ) ~ .tab[data-tab="0"],
	.tab-titles:has( input[value="1"]:checked ) ~ .tab[data-tab="1"],
	.tab-titles:has( input[value="2"]:checked ) ~ .tab[data-tab="2"],
	.tab-titles:has( input[value="3"]:checked ) ~ .tab[data-tab="3"],
	.tab-titles:has( input[value="4"]:checked ) ~ .tab[data-tab="4"],
	.tab-titles:has( input[value="5"]:checked ) ~ .tab[data-tab="5"],
	.tab-titles:has( input[value="6"]:checked ) ~ .tab[data-tab="6"],
	.tab-titles:has( input[value="7"]:checked ) ~ .tab[data-tab="7"],
	.tab-titles:has( input[value="8"]:checked ) ~ .tab[data-tab="8"],
	.tab-titles:has( input[value="9"]:checked ) ~ .tab[data-tab="9"],
	/* Increase as needed */
)
{
	display: block;
	background-color: var(--gray-200);
	padding: 1rem;
}