<a href="https://www.dragonflycave.com/quizzes/what-type-are-you/fighting"><img src="https://www.dragonflycave.com/typequiz/fighting.png" alt="Fighting" title="I am a Fighting-type!"></a>

<a href="http://www.dragonflycave.com/quizzes/what-pokemon-are-you"><img src="http://www.dragonflycave.com/wpay/pikachu.gif" alt="I am a Pikachu!" title="Find out what Pokémon you are at The Cave of Dragonflies"></a>

<img src="https://www.dragonflycave.com/afep.gif" alt="It took 30 minutes">

<a href="https://onlytrichromatic.neocities.org/"><img src="https://onlytrichromatic.neocities.org/quiz/void.png"></a>

<a href="https://www.dragonflycave.com/quizzes/what-trainer-class-are-you"><img src="https://www.dragonflycave.com/trainerquiz/pokefan.png" alt="I am a Pokefan!" title="Find out what trainer class you are at The Cave of Dragonflies"></a>

<div style="background-color: var(--blue-700); padding: 0.5rem;">
    <img src="https://img2.uquiz.com/content/images/personalities/personality_images/640938_1676236419_02dd86f6-0312-4e16-a36c-faea4cad5817.jpg" alt="Your Town">
    <p><a href="https://uquiz.com/Result/static/lite/ebpDPV/4325751/personality/4324944?&s=e6ec214b-4dfd-45cf-9929-25090ddfd7c5">God of your Town</a></p>
    <p>no don't leave this is actually really nice! its just, you know that for most pantheistic religions a ton of the gods are just like, gods of local places.
        they're not all big guys with thunderbolts doing war. And isn't it nicer? to be connected to a people and a place rahter than some ephemeral concept?
        you must be a person who people look up to, who they connect to, they must see a bit of home when they look at you.
        to be the spirit of a community and a place i think is an enviable thing</p>
</div>

<a href="http://www.springhole.net" target="SH.net"><img src="http://i213.photobucket.com/albums/cc224/SyeraMiktayee/QuizPics/MagicQuizResults/mt-potion.jpg"></a>

<div style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;min-width:200px;max-width:360px;">
    <style scoped>
        .resBarOuter {width:75%;height:15px;padding:0;margin:0;background:#eee;border:1px solid #000;text-align:left !important;position:relative;}
        .resBarInner {text-indent:-9999px;height:15px;background:#d02;font-size:6px;line-height:6px;margin:0;padding:0;position:relative;background-image:linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-moz-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-webkit-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-ms-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);}
        .resBarM {width:35%;float:right;margin-right: 10px;}
        .resRow {color:#000;background:#fff;clear:both;margin: 5px 0;}
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">What Flower Are You?</div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">
        Your Result: <strong>Rose</strong>
    </div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:86%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        <img src="https://www.gotoquiz.com.nyud.net/upic/20160818/HM9WU1v.jpg" style="float:left;margin:2px 4px 2px 0;border:1px solid #333;" alt="">
        Roses are one of the most beautiful and popular flowers in the world. The rose symbolizes promise, hope, and new beginnings. Giving a rose to someone can mean different things depending on the color. For example, giving someone a red rose is a symbol of true love, but giving someone a white rose is a symbol of sorrow and farewell.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:69%;">&nbsp;</div>
        </div>Forget Me Not
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:65%;">&nbsp;</div>
        </div>Orchid
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:57%;">&nbsp;</div>
        </div>Snapdragon
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:38%;">&nbsp;</div>
        </div>Water Lily
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:34%;">&nbsp;</div>
        </div>Hydrangea
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:15%;">&nbsp;</div>
        </div>Fox Glove
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Tulip
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Venus Fly Trap
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:0%;">&nbsp;</div>
        </div>Magnolia
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/what_flower_are_you_3"><strong>What Flower Are You?</strong></a>
    </div>
</div>

<div style="border:1px solid #999;border-radius:6px;padding:6px;font:normal 1em sans-serif;background:#fff;color:#000;min-width:200px;max-width:360px;">
    <style scoped>
        .resBarOuter {width:75%;height:15px;padding:0;margin:0;background:#eee;border:1px solid #000;text-align:left !important;position:relative;} 
        .resBarInner {text-indent:-9999px;height:15px;background:#d02;font-size:6px;line-height:6px;margin:0;padding:0;position:relative;background-image:linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-moz-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-webkit-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);background-image:-ms-linear-gradient(bottom,rgb(221,0,33) 40%,rgb(255,60,86) 74%,rgb(221,0,33) 100%);} 
        .resBarM {width:35%;float:right;margin-right: 10px;} 
        .resRow {color:#000;background:#fff;clear:both;margin: 5px 0;}
    </style>
    <div style="color:#000;font:bold 1.2em sans-serif;margin:0 0 8px 0;">Which Christian denomination do you belong to?</div>
    <div style="font:bold 1.2em sans-serif;margin:0 0 4px 0;">
        Your Result: <strong>Methodist</strong>
    </div>
    <div class="resBarOuter">
        <div class="resBarInner" style="width:88%;">&nbsp;</div>
    </div>
    <div style="margin:10px 0 4px;border:none;background:#fff;color:#000;">
        As a Methodist, your views can be traced back to John Wesley and his revival movement within the Church of England. Methodist beliefs are broadly speaking similar to those of the mainstream reformed churches, however Methodists have a tradition of enjoying more better relations with episcopalian churces. After all, John Wesley himself remained a committed Anglican clergyman. Methodists mainly embrace the writing of Arminius, believing that while faith is central to salvation, that salvation can be lost through rejecting God. One of the biggest theological differences between Methodists and other reformed faiths is the Methodist belief in free will, and that men choose to sin, rather than being born as its slaves.
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:81%;">&nbsp;</div>
        </div>Pentecostal
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:76%;">&nbsp;</div>
        </div>Lutheran
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:74%;">&nbsp;</div>
        </div>Baptist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:57%;">&nbsp;</div>
        </div>Puritan
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:53%;">&nbsp;</div>
        </div>Calvinist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:46%;">&nbsp;</div>
        </div>Episcopalian
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:46%;">&nbsp;</div>
        </div>Restorationist
    </div>
    <div class="resRow">
        <div class="resBarOuter resBarM">
            <div class="resBarInner" style="width:15%;">&nbsp;</div>
        </div>Catholic
    </div>
    <div>
        <a style="color: #00f;" href="https://www.gotoquiz.com/which_christian_denomination_do_you_belong_to">
        <strong>Which Christian denomination do you belong to?</strong>
        </a>
    </div>
</div>