<span id="null-ring">
    <script src="https://nuthead.neocities.org/ring/ring.js"></script>
</span>

<span id="roboring">
    <a href="https://stellophiliac.github.io/roboring/kfcman/previous"> <- </a>
    <a href="https://stellophiliac.github.io/roboring">🤖 roboring 🤖</a>
    <a href="https://stellophiliac.github.io/roboring/kfcman/next"> -> </a>
</span>

<link rel="stylesheet" href="https://christian-webring.nekoweb.org/onionring.css">
<div id='christian-webring'>
    <script type="text/javascript" src="https://christian-webring.nekoweb.org/onionring-variables.js"></script>
    <script type="text/javascript" src="https://christian-webring.nekoweb.org/onionring-widget.js"></script>
</div>