#playlist-container {
    padding: 0.5rem;
    background-color: var(--orange-900);
    border-radius: 0.5rem;
}

#playlist-container > * {
    max-width: 100%;
}

#playlist-container select {
    background-color: var(--blue-900);
    color: var(--gray-800);
}

#select-song option {
    color: var(--orange-600);
    font-family: var(--heading-font);
    width: 100%;
}

#playlist-container .inline-list > * {
    margin-inline: 0.5rem;
}