{{- $home := .Site.GetPage "/" -}}
{{- $tags := .Site.GetPage "/tags" -}}
{{- $series := .Site.GetPage "/series" -}}

<ul>
    {{ range slice $home $tags $series }}
    <li>{{ template "page-link" . }}</li>
    {{end}}
</ul>

{{ define "page-link" }}
    {{- $page := . -}}
    {{- $hasFeed := partial "hasRSSFeed.html" $page -}}
    <p>
        <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
        {{ if $hasFeed }}{{ partial "rssFeedButton.html" $page }}{{end}}
    </p>

    {{ if ne $page.Kind "term" -}}
        {{- with $page.Pages }}
        <ul{{if $hasFeed }} class="inline-list"{{- end -}}>
            {{- range . }}
            <li>{{ template "page-link" . }}</li>
            {{- end}}
        </ul>
        {{end}}
    {{end}}
{{ end }}